@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fcfdfe;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.swiper-container {
  max-width: 100%;
  position: relative;
}
/* 
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 27px;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 20px;
    height: 36px;
  }
} */
